#showmedia{
    background-color:rgb(42, 42, 42)
}
.medialink{
    padding:1rem;
    margin-left:1rem;
    border:2px solid yellow;
    border-radius:0.5rem;
}
#icon{
    width:3rem;
    height:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
}